// Variables
$white: #fff !default;
$black: #1b1b1b !default;
$blue: #13a0e6 !default;
$dark_blue: #003056 !default;
$yellow: #f2d03b !default;
$font:  'Raleway';
$font2: 'Roboto';

*{
    font-family: $font;
}

// Styling for the navbar
.active{
    border: 1px groove $black;
}
#main-nav{
    font-family: $font;
    div.navbar-collapse{
        font-weight: bold;
    }
}

// Styling for the banner
#banner{
    min-height:22em;
    height:auto;
    margin-top:5em;
    background-color: $blue;
    color:$white;
    font-family: $font;
    text-align: center;
    h1{
        font-size: 2.6em;
    }
    #sign_up{
        font-weight: 500;
        &:hover{
            background-color: $white;
        }
    }
    #btn-fact{
        background-color: $yellow;
        font-weight: bold;
        color: lighten($black, 10%);
        &:hover{
            background-color: $black;
            color:$white;
        }
        @media screen and (max-width: 550px) {
          margin-bottom: 2.5em;
        }
    }
}

// Styling for Product description
#description{
    a{
        background-color: $blue;
        &:hover{
            background-color: $black;
        }
    }
}

// Styling for Questions
#questions_title{
    height:3.9em;
    background-color:$blue;
    margin-top:6em;
    margin-bottom: 1em;
    color:$white;
    text-align: center;
    h1{
        font-size: 2em;
    }
    @media screen and (max-width: 550px) {
        h1{
            font-size: 1.8em;
        }
    }
}

/* Featurettes */
.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

// Styling for Order_now
#order_now{
    a{
        background-color: transparent;
        border:none;
    }
}

// Styling for next step
#next_step{
  a{
      width:45%;}
}

// Style for accordion in FAQs
#accordion{
    .btn-link{
        text-decoration: none;
        color:$blue;
        font-weight: bold;
    }
}



// Styling for the footer
#myFooter {
    flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    background-color: $black;
    color: $white;
    padding-top: 30px;
    .footer-copyright {
        background-color: $black;
        padding-top: 3px;
        padding-bottom: 3px;
        text-align: center;
    }
    .row {
        margin-bottom: 60px;
    }
    .navbar-brand {
        margin-top: 45px;
        height: 65px;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    h5 {
        font-size: 18px;
        color: $white;
        font-weight: bold;
        margin-top: 30px;
    }
    h2 a{
        font-size: 50px;
        text-align: center;
        color: $white;
    }
    a {
        color: #d2d1d1;
        text-decoration: none;
        &:hover,
        &:focus{
            text-decoration: none;
            color: $white;
        }
    }
    .social-networks {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 16px;
    }
    .social-networks a {
        font-size: 32px;
        color: $white;
        padding: 10px;
        transition: 0.2s;
        &:hover{
            text-decoration: none;
        }
    }

    .facebook:hover {
        color: #0077e2;
    }
    .google:hover {
        color: #ef1a1a;
    }
    .twitter:hover {
        color: $yellow;
    }
    .btn {
        color: $black;
        background-color: $yellow;
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
        font-weight:bold;
        &:hover{
            background-color: $white;
        }
    }
}

// Responsive Small Laptop or ipad pro 
@media screen and (max-width: 1200px) {
    #main-nav{
        display:none;
    }
    #slide_in_nav{
        display:block !important;
        margin-bottom: -5.6em;
        background-color: $white;
        .d-flex a img{
            width: 16em;
        }
    } 
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #1b1b1b;
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }
    
    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 2em;
    }
    
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 2.2em;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 4em;
    } 

    #presentation{
        padding-top:3em
    }

    #slide_in_nav{
        margin-top: 0;
        .d-flex a img{
            width: 14em;
            margin-top: 0.5em;
            margin-left: -1em;
        }
    }
    #sign_up{
        width: 20%; 
     }
    #sign_up_input{
        width: 50%; 
    }
}

//Tablets 
@media screen and (max-width: 768px) {
    .overlay-content {
        position: relative;
        top: 14%;
        width: 100%;
        text-align: center;
        margin-top: 2em;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 2.65em;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    #myFooter {
        text-align: center;
    }
    #slide_in_nav{
        margin-top: 0;
        .d-flex a img{
            width: 13em;
            margin-top: 0.43em;
            margin-left: -1em;
        }
    }
    #sign_up{
        width: 35%; 
     }
     #banner{
         h1{
            font-size: 1.8em;
         }
         h4{
            font-size: 1.3em;
         }
     }
     #features{
         .featurette {
             display: flex;
             justify-content: center;
             align-items: center;
             h2{
                 font-size: 1.5em;
             }
             p{
                font-size: 1em;
             }
            div:nth-child(2){
                padding-top: 2em;
             }
         }
        
         margin-top: 3em;
     }

     #questions_title{
        height: 4em;
        h1{
            font-size: 2em;
        }
     }
      

     #presentation{ 
       .presentation-page-top-video{
           padding-top: 1.5em;
       }
     }
}

//Phones
@media screen and (max-width: 450px) {
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 1.6em;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
   
    .overlay .closebtn {
      font-size: 35px;
      top: 15px;
      right: 35px;
    }
    #sign_up{
        width:100%; 
     }
     #questions_title h1{
        font-size: 1.6em;
    }
    #slide_in_nav{
        margin-top: 0;
        .d-flex a img{
            width: 11em;
            margin-top: 0.71em;
            margin-left: -1.3em;
        }
    }
    #questions_title{
       height: 3em;
       h1{
            font-size: 1.4em;
        }
    }
    #contact{
        h4{
            font-size: 1.2em;
        }
    }
    #policy{
        h2{
            font-size: 1.5em;
        }
    }
    #product-info{
        h2{
            font-size: 1.6em;
        }
    }
    #accordion{
        .btn-link{
            font-size: 0.76em;
        }
    }    
  }




